/* 
    Created on : 16 Sep 2014, 1:56:29 PM
    Author     : Dean
*/

.snake {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-stroke: rgba(0,0,0,0.3);
    -fx-stroke-type: inside;
}

.snake.supersnake {
    -fx-stroke: white;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-effect: dropshadow( three-pass-box , rgba(88,132,255,1) , 4, 0.5 , 0 , 0);
}

.snake1 {
    -fx-fill: red;
}

.snake2 {
    -fx-fill:lime;
}

.snake3 {
    -fx-fill:cornflowerblue;
}

.snake4 {
    -fx-fill:yellow;
}

.snakepane {
    -fx-background-color:gray;
}

.apple{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-fill: red;
    -fx-stroke: rgba(0,0,0,0.3);
    -fx-stroke-type: inside;
}

.super-apple.apple{
    -fx-fill: blue;
}

.error{
    -fx-text-fill: red;
}